{{ define "main" }}
<div class="container mt-4">
    <h2 class="mb-4">Tag: {{ .Title }}</h2>
    <div class="row">
        {{ range .Pages }}
            <div class="col-md-6 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <a href="{{ .RelPermalink }}">
                            <h5 class="card-title">{{ .Title }}</h5>
                        </a>
<p class="post-meta text-secondary mt-2">
        <span class="post-date">Published on {{ .Date.Format "2 January 2006" }}</span>
        {{ if .Params.author }}
            <span class="post-author">by {{ .Params.author }}</span>
        {{ end }}
</p>
                        <p class="card-text">{{ .Description }}</p>
                        <div class="text-right">
                            <a href="{{ .RelPermalink }}" class="btn btn-primary btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}